.article {
  line-height: 1.75;
}

.article h2 {
  font-family: 'cp';
  font-weight: bolder;
  font-size: 1.3em;
  margin: 2rem 0 0.5rem;
  letter-spacing: 0.2em;
}

.article h3 {
  font-family: 'cp';
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.5rem 0 0.5rem;
  letter-spacing: 0.2em;
}

.article h4 {
  font-family: 'cp';
  font-size: 1.1em;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
  letter-spacing: 0.2em;
}

.article ul {
  margin: 0.75rem 0;
  padding: 1rem;
  list-style-type: disc;
  list-style-position: inside;
}

.article li {
  margin-bottom: 0.1rem;
}

.article li:last-child {
  margin-bottom: 0;
}

.article p {
  font-size: 1rem;
  line-height: 1.75rem;
  letter-spacing: 0.09em;
}

.article figure {
  margin: 0.75rem 0;
}

.article figure img {
  border-radius: 0.125rem;
}

.article pre {
  overflow-x: auto;
  margin: 0.75rem 0;
}

.article code:not(pre code) {
  background-color: #ffffff;
  padding: 0.25rem;
  border-radius: 0.125rem;
  color: #18181b;
  margin: 0 0.25rem;
}

.article table tbody {
  border: 1px solid white;
}

.article table tbody tr {
  border: 1px solid white;
}

.article table tbody tr th {
  border: 1px solid white;
  padding: 1rem;
}

.article table tbody tr td {
  border: 1px solid white;
  padding: 0.75rem;
}
